footer{
    text-align: center;
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffae0039;
    backdrop-filter: blur(20px);
    #footer_section{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #links{
            #connect_with_us{
                ul{
                    display: flex;
                    justify-content: center;
                    gap: 2em;
                }
                svg{
                    height: 2em;
                }
            }
        }
    }
    @media (max-width: 800px) {
        #footer_section{
            flex-direction: column;
            gap: 40px;
        }        
    }
    #copyright{
        margin-top: 10px;
    }
}