#project_list_section{
*{
  color: rgba(255, 255, 255, 0.584);
}
h2{
  text-align: center;
  letter-spacing: 1em;
  margin-block: 2em;
}
h5{
  text-align: center;
  letter-spacing: 1em;
  margin-top: 5em;
  margin-bottom: 1.5em
}
.container{
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 2em;
}
#aero_projects,
#astro_projects{
  display: flex;
  gap: 4em;
  width: max-content;
  list-style: none;
}
.project_card{
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0.8;
  margin-block: 0.5em;
  height: 15em;
  max-width: 30em;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(20px);
  padding: 2em;
  border-radius: 30px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.134);
  border-right: 5px solid rgba(255, 255, 255, 0.134);
  border-bottom: 1px solid rgba(255, 255, 255, 0.134);
  border-right: 1px solid rgba(255, 255, 255, 0.134);
}
.project_card:hover{
  opacity: 1;
}
.project_date{
  text-align: center;
  color: #ffc955;
  margin-bottom: 2em;
}
.project_title{
  text-align: center;
}
}
@media (max-width: 800px) {
    .event_card {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .event_date {
      width: 100%;  
      font-size: 1rem;
      text-align: center;
    }

    .event_title {
      width: 100%;
      font-size: 2rem;
      text-align: center;
    }
}